In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [3]:
green = pd.read_csv(r'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz')

C:\Users\vpere\AppData\Local\Temp\ipykernel_18356\1645764537.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  green = pd.read_csv(r'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz')

In [4]:
zones = pd.read_csv(r'https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')

In [23]:
from sqlalchemy import create_engine

In [17]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/25/1f/7ae31759142999a8d06b3e250c1346c4abcdcada8fa884376775dc1de686/psycopg2_binary-2.9.9-cp311-cp311-win_amd64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp311-cp311-win_amd64.whl.metadata (4.6 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.1/1.2 MB 3.6 MB/s eta 0:00:01
   --------- ------------------------------ 0.3/1.2 MB 2.8 MB/s eta 0:00:01
   ---------------------- ----------------- 0.6/1.2 MB 2.7 MB/s eta 0:00:01
   ----------------------------- ---------- 0.8/1.2 MB 2.8 MB/s eta 0:00:01
   --------------------------------- ------ 1.0/1.2 MB 2.8 MB/s eta 0:00:01
   -------------------------------------- - 1.1/1.2 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 2.6 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [24]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [25]:
print(pd.io.sql.get_schema(green, name = 'Green', con = engine))

CREATE TABLE "Green" (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [29]:
green.head(n=0).to_sql(name='Green', con=engine, if_exists='replace')

0

In [30]:
%time green.to_sql(name='Green', con=engine, if_exists='append')

CPU times: total: 42.7 s
Wall time: 1min 46s

63

In [26]:
engine.connect()

In [27]:
zones.head(n=0).to_sql(name='Zones', con=engine, if_exists='replace')

0

In [28]:
%time zones.to_sql(name='Zones', con=engine, if_exists='append')

CPU times: total: 31.2 ms
Wall time: 131 ms

265

In [31]:
green_query = """
SELECT * FROM "Green" LIMIT 10
"""
pd.read_sql(green_query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,219632,2.0,2019-09-18 07:43:59,2019-09-18 08:02:34,N,1.0,74,75,3.0,2.39,...,0.0,0.5,0.00,0.0,None,0.3,13.30,1.0,1.0,0.00
1,219633,2.0,2019-09-18 07:51:44,2019-09-18 08:13:44,N,1.0,42,75,1.0,3.61,...,0.0,0.5,0.00,0.0,None,0.3,16.30,2.0,1.0,0.00
2,219634,2.0,2019-09-18 07:25:22,2019-09-18 07:53:22,N,1.0,66,162,1.0,6.67,...,0.0,0.5,4.45,0.0,None,0.3,31.50,1.0,1.0,2.75
3,219635,2.0,2019-09-18 07:04:16,2019-09-18 07:15:26,N,1.0,75,69,1.0,3.39,...,0.0,0.5,2.56,0.0,None,0.3,15.36,1.0,1.0,0.00
4,219636,2.0,2019-09-18 07:49:56,2019-09-18 08:02:44,N,1.0,75,74,1.0,1.30,...,0.0,0.5,0.00,0.0,None,0.3,10.30,2.0,1.0,0.00
5,219637,2.0,2019-09-18 07:25:13,2019-09-18 07:36:47,N,1.0,66,231,1.0,2.17,...,0.0,0.5,2.81,0.0,None,0.3,16.86,1.0,1.0,2.75
6,219638,2.0,2019-09-18 07:56:17,2019-09-18 09:04:02,N,1.0,66,234,1.0,8.06,...,0.0,0.5,9.21,0.0,None,0.3,55.26,1.0,1.0,2.75
7,219639,2.0,2019-09-18 07:27:05,2019-09-18 07:34:26,N,1.0,42,42,1.0,0.97,...,0.0,0.5,0.00,0.0,None,0.3,7.30,2.0,1.0,0.00
8,219640,2.0,2019-09-18 07:35:44,2019-09-18 07:39:52,N,1.0,42,152,1.0,0.37,...,0.0,0.5,0.00,0.0,None,0.3,5.30,2.0,1.0,0.00
9,219641,2.0,2019-09-18 08:01:58,2019-09-18 08:07:26,N,1.0,75,236,1.0,0.50,...,0.0,0.5,0.00,0.0,None,0.3,8.05,2.0,1.0,2.75